<div class="row">


  <%= form_tag '/trips', remote: true, role: "form" do %>
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

      <div class="form-group">
        <%= label_tag :from %>
        <%= text_field_tag :from, nil, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag :to %>
        <%= text_field_tag :to, nil, class: 'form-control' %>
      </div>
      <div class="col-xs-12">
        <div class="form-inline">
          <div class="form-group col-xs-3">
            <%= label_tag 'public_transport', 'Public transport' %>
            <%= check_box_tag 'public transport', 'Public', class: 'btn' %>
          </div>
          <div class="form-group col-xs-3">
            <%= label_tag 'walking', 'Walking' %>
            <%= check_box_tag 'walking' %>
          </div>
          <div class="form-group col-xs-3">
            <%= label_tag 'cycling', 'Cycling' %>
            <%= check_box_tag 'cycling' %>
          </div>
          <div class="form-group col-xs-3">
            <%= label_tag 'driving', 'Driving' %>
            <%= check_box_tag 'driving' %>
          </div>
        </div>
      </div>
      <%= submit_tag 'Send', class: "form_submit btn btn-primary" %>
  <% end %>

  <div class="row">
    <div class="col-sm-12" id="weather"></div>
  </div>

  <div class="row">

    <div class="col-sm-3" id="outputBus"></div>
    <div class="col-sm-3" id="outputWalking"></div>
    <div class="col-sm-3" id="outputCycling"></div>
    <div class="col-sm-3" id="outputDriving"></div>
  </div>
</div>

