<br><br><br><br>

<%= form_tag('/transports', remote: true) do %>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <%= label_tag(:from) %>
    <%= text_field_tag(:from) %>
    <%= label_tag(:to) %>
    <%= text_field_tag(:to) %>
    <%= submit_tag 'Send', class: "form_submit" %>
<% end %>

<div id="outputBus"></div>
<div id="outputWalking"></div>

<!--<div id="map-canvas"></div>-->
